*.pem
*.info
**/secrets/*

**/env/*


*.log
*.pot
*.pyc
__pycache__/
local_settings.py

*.py[cod]
*$py.class

**/static/*
**/build/*
/media/

venv/
.env

.vscode/
.idea/

.DS_Store
Thumbs.db
*.sqlite3*
